body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
margin: 0;
padding: 0;
line-height: 1.5;    
}

* {
    box-sizing: border-box;
}

.content {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px 45px;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    text-align: justify;
}

@media (max-width: 800px) {
    .content {
        width: 99%;
        padding: 5px;
        border-left: none;
        border-right: none;
        text-align: left;
    }
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

nav a {
text-decoration: none;
color: black;
font-size: 18px;
padding: 5px 10px;
}

nav a:hover {
text-decoration: underline;
}

main {
max-width: 900px;
margin: 50px auto;
padding: 0 20px;
}

h1 {
font-size: 36px;
}

h2 {
margin-top: 30px;
    color: purple;
}

h3 {
    color: #0066cc;
    font-family: "Times New Roman", serif;
}

.keyword {
    color: #008000;
}
